@page "/{searchTerm?}"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div style="margin-bottom:2ex;margin:0.5em">
	<a href="/◕‿◕" style="font-size:xx-small;">Alle Daten laden!</a>
	<div class="input-group">
		<input id="searchfield" @bind="searchTerm" type="text" class="form-control" placeholder="Suche nach Namen ...">
		<span class="input-group-btn">
			<button id="searchbutton" class="btn btn-primary" type="button" onclick="location.href='/@searchTerm'">Suche!</button>
		</span>
	</div>
</div>

<section>
	@if( data.Count() > 0 )
	{
		<!-- h1>Personen</h1 -->
		<div class="card-deck" style="display:flex;flex-wrap:wrap;align-items: stretch;">
			@foreach (Person person in data)
			{
				<PersonDataComponent person="@person" postalAddresses="@person.PostalAddresses" phoneNumbers="@person.PhoneNumbers"/>
			}
		</div>
	}	
</section>


@code
{
	[Parameter]
	public string searchTerm {get; set;} = "";

	private List<Person> data = [];
		
    protected override async Task OnInitializedAsync()
	{
		if( "◕‿◕".Equals(searchTerm) )
		{
			data = SampleDataCreator.CreatePeople(count: 50);
			Console.WriteLine("Home-TODO: load all person-data from the DB instead of creating testdata");
		}
		else if( searchTerm != null )
		{
			data = SampleDataCreator.CreatePeople(count: 50);
			Console.WriteLine("Home-TODO: search for the person-data in the DB instead of creating testdata");
		}
	}
}