@page "/{searchTerm?}"
@rendermode InteractiveServer
@using System.Text.Json
@using System.Text.Json.Serialization
@inject IHttpClientFactory ClientFactory

<PageTitle>Home</PageTitle>

<div style="margin-bottom:2ex;margin:0.5em">
	<a href="/◕‿◕" style="font-size:xx-small;">Alle Daten laden!</a>
	<div class="input-group">
		<input id="searchfield" @bind="searchTerm" type="text" class="form-control" placeholder="Suche nach Namen ...">
		<span class="input-group-btn">
			<button id="searchbutton" class="btn btn-primary" type="button" onclick="location.href='/@searchTerm'">Suche!</button>
		</span>
	</div>
</div>

@if( transmissionError )
{
	<div style="color: red">Übertragungsfehler!</div>
}
else
{
	<section>
		@if( data.Count() > 0 )
		{
			<!-- h1>Personen</h1 -->
			<div class="card-deck" style="display:flex;flex-wrap:wrap;align-items: stretch;">
				@foreach (Person person in data)
				{
					<PersonDataComponent person="@person" postalAddresses="@person.PostalAddresses" phoneNumbers="@person.PhoneNumbers"/>
				}
			</div>
		}
	</section>
}

@code
{
	[Parameter]
	public string searchTerm {get; set;} = "";

	private List<Person> data = [];

	private bool transmissionError = false;

	protected override async Task OnInitializedAsync()
	{
		string endpoint = "http://localhost:5152/";
		if( "◕‿◕".Equals(searchTerm) )
		{
			endpoint += "all/";
		}
		else if( searchTerm != null )
		{
			endpoint += "search/" + searchTerm;
		}
		HttpRequestMessage request = new HttpRequestMessage( HttpMethod.Get, requestUri: endpoint );
		HttpClient client = ClientFactory.CreateClient();
		try
		{
			HttpResponseMessage response = await client.SendAsync( request );
			if( response.IsSuccessStatusCode )
			{
				Stream responseStream = await response.Content.ReadAsStreamAsync();
				data = await JsonSerializer.DeserializeAsync<List<Person>>( responseStream );
				transmissionError = false;
			}
			else
			{
				transmissionError = true;
			}
		}
		catch( HttpRequestException )
		{
			transmissionError = true;
		}
	}
}