@page "/{searchTerm?}"
@rendermode InteractiveServer
@using System.Net.Http.Json
@using System.Net.Http
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<div style="margin-bottom:2ex;margin:0.5em">
	<a href="/◕‿◕" style="font-size:xx-small;">Alle Daten laden!</a>
	<div class="input-group">
		<input id="searchfield" @bind="searchTerm" type="text" class="form-control" placeholder="Suche nach Namen ...">
		<span class="input-group-btn">
			<button id="searchbutton" class="btn btn-primary" type="button" onclick="location.href='/@searchTerm'">Suche!</button>
		</span>
	</div>
</div>

@if( transmissionError )
{
	<div style="color: red">Übertragungsfehler!</div>
}
else
{
	<section>
		@if( data.Count() > 0 )
		{
			<!-- h1>Personen</h1 -->
			<div class="card-deck" style="display:flex;flex-wrap:wrap;align-items: stretch;">
				@foreach (Person person in data)
				{
					<PersonDataComponent person="@person" postalAddresses="@person.PostalAddresses" phoneNumbers="@person.PhoneNumbers"/>
				}
			</div>
		}
	</section>
}

@code
{
	[Parameter]
	public string searchTerm { get; set; } = "";

	private List<Person> data = [];

	private bool transmissionError = false;

	protected override async Task OnInitializedAsync()
	{
		if (searchTerm == null)
		{
			return;
		}
		string endpoint = "http://localhost:5152/";
		if ("◕‿◕".Equals(searchTerm))
		{
			endpoint += "all/";
		}
		else
		{
			endpoint += "search/" + searchTerm;
		}
		try
		{
			data = await Http.GetFromJsonAsync<List<Person>>(endpoint);
		}
		catch (HttpRequestException)
		{
			transmissionError = true;
		}
	}
}