@page "/person/{personID}"
@rendermode InteractiveServer
@using System.Net.Http.Json
@using System.Net.Http
@inject HttpClient Http


<PageTitle>Personendaten</PageTitle>
<button class="btn btn-primary" style="margin-bottom:2em" onclick="history.back()">&larr;</button>

@if( transmissionError )
{
	<div style="color: red">Übertragungsfehler!</div>
}
else
{
	@if ( person != null )
	{
		<div style="display:flex;flex-wrap:wrap;">
			<section style="margin-right:0.5em;">
				<h1>Stammdaten</h1>
				<div style="float:left;">
					<PersonalDataComponent person=@person/>
				</div>
			</section>

			<section style="margin-right:0.5em;">
				<h1>Postadressen</h1> 
				<div style="display:flex;flex-wrap:wrap;">
					@foreach (PostalAddress address in person.PostalAddresses)
					{
						<PostalAddressComponent address=@address OnAddressDelete="deleteAddress" />
					}
					<div>
						<button class="btn btn-primary" @onclick="newAddress">Neue Adresse</button>
					</div>
				</div>
			</section>

			<section style="margin-right:0.5em;">
				<h1>Telefonnummern</h1> 
				<div style="display:flex;flex-wrap:wrap;">
					@foreach (Phone phone in person.PhoneNumbers)
					{
						<PhoneComponent phone=@phone OnPhoneDelete="deletePhone" />
					}
					<div>
						<button class="btn btn-primary" @onclick="newPhone">Neue Nummer</button>
					</div>
				</div>
			</section>
		</div>
		<button class="btn btn-primary" style="margin-top:0.5em;@(submitting ? "color:black;background-color:orange; border-color:orange" : "")" @onclick="save">Datensatz Speichern</button>
	}
}
@code
{
	[Parameter]
	public string personID { get; set; } = "";
	public Person? person;
	private bool transmissionError = false;
	private bool submitting = false;

	private async Task deleteAddress(PostalAddress address)
	{
		if (person != null)
		{
			person.RemovePostalAddress(address);
		}
	}
	private async Task newAddress()
	{
		if (person != null)
		{
			person.AddPostalAddress(address: new PostalAddress());
		}
	}
	private async Task deletePhone(Phone phone)
	{
		if (person != null)
		{
			person.RemovePhoneNumber(phone);
		}
	}
	private async Task newPhone()
	{
		if (person != null)
		{
			person.AddPhoneNumber(phone: new Phone());
		}
	}
	protected override async Task OnInitializedAsync()
	{
		string endpoint = "http://localhost:5152/person/" + personID;
		try
		{
			person = await Http.GetFromJsonAsync<Person>(endpoint);
		}
		catch (HttpRequestException)
		{
			transmissionError = true;
		}
	}
	private async Task save()
	{
		if(person != null)
		{
			submitting = true;
			string endpoint = "http://localhost:5152/person/";
			await Http.PostAsJsonAsync(endpoint, person);
			person.MarkClean();
			await Task.Delay(500);
			submitting = false;
		}
	}
}

