@rendermode InteractiveServer
@using PeopleGUI.Model

<div class="card" style="margin:0.5em;">
	<div class="card-body">
		<div style="display:flex;flex-wrap:wrap;">
			<div style="margin:0.5em;float:left;">
				<span style="font-size:0.7em;">Vorname:</span>
				<br />
				<input @bind-value="@person.FirstName" placeholder="Vorname" style="width:5em"/>
			</div>
			<div style="margin:0.5em;float:left;">
				<span style="font-size:0.7em"">Nachname:</span>
				<br />
				<input @bind-value="@person.LastName" placeholder="Nachname" style="width:5em"/>
			</div>
			<div style="margin:0.5em;float:left;">
				<span style="font-size:0.7em"">Geburtsdatum:</span>
				<br />
				@person.DateOfBirth.ToString(format: "yyyy-MM-dd")
			</div>
			@if( person.PhoneNumbers.Count >= 0 )
			{
				<div style="margin:0.5em;float:left;white-space: nowrap;">
					<span style="font-size:0.7em"">Telefon:</span>
					<br />
					@foreach(Phone phone in person.PhoneNumbers)
					{
						@phone.GetNumberAsString()
						<br />
					}
				</div>
			}
		</div>
		<div style="margin:0.5em;text-align:right;">
		@if( submitting )
		{
			<button class="btn btn-primary" style="color:black;background-color:orange; border-color:orange" @onclick="save">Speichern</button>
		}
		else
		{
			@if( false )
			{
				<button class="btn btn-primary" style="color:black;background-color:red; border-color:red" @onclick="save">Speichern</button>
			}
			else
			{
				<button class="btn btn-primary" @onclick="save">Speichern</button>
			}
		}
		</div>
	</div>
</div>

@code
{
	[Parameter]
	public required Person person { get; set; }

	private bool submitting = false;

	private async Task save()
	{
		submitting = true;
		await Task.Delay(1000);
		submitting = false;
		Console.WriteLine(value: "NameComponent-TODO: persist the first- and lastName when it was saved");
	}
}